<nav>
    <a href="/">Home</a> |
    <a href="/Privacy">Privacy</a> |
    <a href="/Cars">Cars</a> |
    <a href="/Customers">Customers</a> |
    <a href="/Mechanics">Mechanics</a> |
    <a href="/ServiceTypes">Service Types</a> |
    <a href="/ServiceBookings">Service Bookings</a>
</nav>
